{{#if locals.group}}
<ul class="nav nav-pills nav-stacked">
  {{#each locals.group.categories}}
    <li role="presentation" {{#ifCond ../locals.req.query.category  this}}class="active"{{/ifCond}}>
       <a href="/group/{{../locals.group.id}}/post?category={{this}}">{{this}}</a>
    </li>
  {{/each}}
  <li role="presentation" {{#ifCond locals.req.query.category null}}class="active"{{/ifCond}}>
     <a href="/group/{{locals.group.id}}/post?category=null">{{t 'group.category.null'}}</a>
  </li>

  <li role="presentation" {{#ifCond locals.req.query.category null}}{{else}}{{#unless locals.req.query.category}}class="active"{{/unless}}{{/ifCond}}>
     <a href="/group/{{locals.group.id}}/post">{{t 'group.category.all'}}</a>
  </li>
</ul>
{{/if}}