<div class="sharebox-area">
  <div id="sharebox-label">{{t 'sharebox.label.text'}}</div>

  <div id="sharebox">{{{form 'post' action=createPostUrl}}}</div>

  <script>$(function(){
    we.sharebox.init('#sharebox-label', '#sharebox');
  })</script>
</div>
<div class="posts">
{{#each data}}
  {{render-record-teaser modelName='post' record=this locals=..}}
  <hr>
{{else}}
  <p>{{t 'post.find.empty'}}</p>
{{/each}}
</div>

{{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}